<section class="row">
  {{#each jokes}}
  <div class="col s6 card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <p>{{title}}</p>
        <p>{{punchline}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</section>