<section class="row">
  {{#each jokes}}
  <a href="/jokes/{{id}}" class="col s6 card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <p>{{title}}</p>
      </div>
    </div>
  </a>
  {{/each}}
</section>