<h2>New Joke:</h2>

<form action="/jokes" method="post">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="punchline" placeholder="punchline">
  <input type="submit" value="Save" class="waves-effect waves-light btn">
</form>